{% extends 'base.html.twig' %}

{% block title %}New MissionProgress{% endblock %}

{% block body %}
    <h1>Create new MissionProgress</h1>

    {{ include('mission_progress_controlle/_form.html.twig') }}

    <a href="{{ path('app_mission_progress_controlle_index') }}">back to list</a>
{% endblock %}
