<h1>Email Confirmation</h1>
<p>Hi {{ user.prenom }},</p>
<p>Please confirm your email address by clicking the following link:</p>
<p><a href="{{ confirmationUrl }}">Confirm my Email</a></p>
<p>This link will expire in 24 hours.</p>
<p>Thanks!</p>