{% extends 'base.html.twig' %}

{% block title %}Edit ParticipationEvent{% endblock %}

{% block body %}
    <h1>Edit ParticipationEvent</h1>

    {{ include('participation_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_participation_event_index') }}">back to list</a>

    {{ include('participation_event/_delete_form.html.twig') }}
{% endblock %}
