edheya lel bouton delete w edit poll todher ken lel president 

{% if sondage.user.id == app.user.id %} 
    <button onclick="editPoll({{ sondage.id }})">Modifier</button>
    <button onclick="deletePoll({{ sondage.id }})">Supprimer</button>
{% endif %}